*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: url(../Backgrounddd.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo img {
    float: left;
    width: 140px;
    height: auto;
}
.stop img {
    width: 130px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main {
    max-width: 1450px;
    margin: auto;
}

.btn1{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    border: 1px solid brown;
    padding: 10px 30px;
    color: brown;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s ease;
}
.btn1:hover{
    background-color: brown;
    color: cornsilk;
}

.btn2{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    border: 1px solid brown;
    padding: 10px 30px;
    color: brown;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s ease;
}
.btn2:hover{
    background-color: brown;
    color: cornsilk;
}

.btn3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid brown;
    padding: 10px 30px;
    color: brown;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s ease;
}
.btn3:hover{
    background-color: brown;
    color: cornsilk;
}

.btn4{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid brown;
    padding: 10px 30px;
    color: brown;
    text-decoration: none;
    font-size: 15px;
    transition: 0.6s ease;
}
.btn4:hover{
    background-color: brown;
    color: cornsilk;
}
.textReader{
    border: 1px solid brown;
    color: brown;
    font-size: 30px;
    max-width: 1450px;
    margin: auto;
}